@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #F2F4F7;
    --main-color: #0866FF;
    --paragraph-color: #1C1E21;
    --link-color: #087EFF;
    --green: #42B72A;
    --form-button-font-size: 1.3rem;
    --input-font-size: 1rem;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main, .form-container {
    width: 40%;
}

.main h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-color);
}

.main p {
    font-size: 1.8rem;
    color: var(--paragraph-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 3px 3px 10px lightgray;
    border: none;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

input {
    width: 100%;
    padding: 1rem;
    font-size: var(--input-font-size);
    border: 0.2px solid lightgray;
    border-radius: 10px;
}

hr {
    width: 100%;
}

input:nth-child(3) {
    background-color: var(--main-color);
    color: white;
    font-size: var(--form-button-font-size);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
}

input:nth-child(3):hover {
    background-color: #0867ffce;
}

.create-account {
    background-color: var(--green);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

a:nth-child(2) {
    font-size: small;
    text-decoration: none;
}

a:nth-child(2):hover {
    text-decoration: underline;
}

.create-account:hover {
    background-color: #39a323;
}

.create-page {
    font-size: small;
}

.create-page a {
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}

.create-page a:hover {
    text-decoration: underline;
}

@media(max-width: 900px) {
    .main-container {
        width: 70%;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}